/*
Colors used:
Primary Color (white): #FFFFFF;
Secondary Color (darkgrey): #262626;
*/
header {
  text-align: unset;
  padding: 10px 0 4px;
}

body {
  background-color: #ffffff font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  font-family: 'Noto Sans JP', sans-serif;
  color: #4a4a4a;
  padding: 5px;
}
* {
  box-sizing: border-box;
}
h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.75em;
  font-weight: 700;
}

h2 {
  font-size: 1em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

img {
  width: 100%;
}

a {
  color: #262626;
  text-decoration: none;
}

a:hover {
  color: #cc6540;
  text-decoration: underline;
}

a:visited {
  color: #262626;
}

a:active {
  color: #262626;
}

a:hover,
a:focus {
  color: #262626;
  text-decoration: underline;
}

.project {
  transition-duration: 0.1s;
  transition-property: opacity;
}

.project:hover {
  opacity: 60%;
  background: #616161;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.menu-link {
  color: #262626
}

.menu-link:visited {
  color: #262626
}

.menu-link:active {
  color: #262626
}

.menu-link:hover,
.menu-link:focus {
  color: #545454
    /* Layout Stylings */
}

.container {
  padding: 0 15px;
}

#work .row {
  margin: 15px 5px;
}

#work .column {
  margin: 15px 0px;
}

#hero h2 {
  text-align: center;
  font-size: 1em;
}
#goald .row{
  padding-bottom: 40px;
}
#goald .container{
  margin-left: auto;
  margin-right: auto;
}
.logo {
  font-family: 'M PLUS Rounded 1c', sans-serif;
  max-width: 250px;
  font-size: 1.2em;
}
nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em;
  color: #4a4a4a;
}

nav>ul>li>a:visited {
  color: #4a4a4a;
}

nav>ul>li>a:active {
  color: #4a4a4a;
  opacity: 0.8;
}

nav>ul>li>a:hover, nav>ul>li>a:focus {
  color: #4a4a4a;
  opacity: 0.8;
  text-decoration: none;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
.navtoggle li:not(:last-child) {
  display: none;
}
.navtoggle, .navtoggle .responsive {
  position: relative;
}
.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;,
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
#hero {
  background-color: #ffffff;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

main {
  padding-top: 56px;
}

footer {
  background-color: #ffffff;
  text-align: center;
  font-size: .8em;
  width: 100%;
}
h2 {
  font-size: 1.75em;
}
.button {
  background-color: white;
  border:none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
  color: #f6bd60;
  text-decoration: bold;

}

.social {
  text-align: center;
  padding-top: 50px;
}

.social a {
  display: inline-block;
  margin: 0 10px
}

.social img {
  max-width: 40px;
  height: auto;
}




.image {
  position: relative;
}

.image_img {
  display: block;
  width: 100%
}

.image_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity: 0.25s;
}

.image_overlay-blur {
  backdrop-filter: blur(1px)
}

.image_overlay>* {
  transform: translateY(20px);
  transition: transform 0.25s;
}

.image_overlay:hover {
  opacity: 1;
}

.image_overlay:hover>* {
  transform: translateY(0px);
}

.image_title {
  font-size: 1.6em;
  font-weight: bold;
}

.social_icon:hover {
  animation: rotate 1s linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
.say_hi {
  width: 80px;
  height: 80px;
  align: center;
}
@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(10deg); }
    35% { transform: rotate(-10deg); }
   45% { transform: rotate(10deg); }
  100% { transform: rotate(0deg); }
}

.say_hi {
  display: inline-block;
  animation: wiggle 3s infinite;
}

.say_hi:hover {
  animation: none;
}
#about .my-photo {
  display: block;
   margin-left: auto;
   margin-right: auto;
   width: 50%;
}
.main-image{
  margin:auto;
  width;100%;
}

/*==================================== MEDIA QUERIES */

@media only screen and (min-width: 640px) {
  header {
  text-align: unset;
  padding: 20px 0 13px;
}
.navtoggle li:not(:last-child) {
  display: inline-block;
}
.navtoggle li:last-child {
  display: none;
}
.navtoggle, .navtoggle .responsive {
  position: relative;
}
nav>ul>li {
  display: inline-block;
}

  nav {
   width: auto;
   float: right;
   margin-top: 4px;
}
nav > ul {
  margin: 1em 0;
}
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 1024px) {
}
.col-lg-1 {width: 8.33%;}
.col-lg-2 {width: 16.66%;}
.col-lg-3 {width: 25%;}
.col-lg-4 {width: 33.33%;}
.col-lg-5 {width: 41.66%;}
.col-lg-6 {width: 50%;}
.col-lg-7 {width: 58.33%;}
.col-lg-8 {width: 66.66%;}
.col-lg-9 {width: 75%;}
.col-lg-10 {width: 83.33%;}
.col-lg-11 {width: 91.66%;}
.col-lg-12 {width: 100%;}
}
[class*="col-"] {
  float: left;
  padding: 20px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
#goald-icon {
  width: 20%;
  height: auto;
}

@media only screen and (min-width: 1440px) {
}
.col-xl-1 {width: 8.33%;}
.col-xl-2 {width: 16.66%;}
.col-xl-3 {width: 25%;}
.col-xl-4 {width: 33.33%;}
.col-xl-5 {width: 41.66%;}
.col-xl-6 {width: 50%;}
.col-xl-7 {width: 58.33%;}
.col-xl-8 {width: 66.66%;}
.col-xl-9 {width: 75%;}
.col-xl-10 {width: 83.33%;}
.col-xl-11 {width: 91.66%;}
.col-xl-12 {width: 100%;}
}
[class*="col-"] {
  float: left;
  padding: 10px;
}
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
